/* navbar styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Poppins:wght@300&display=swap');

.banner-text{
	font-weight: 700;
	color: #000000;
	line-height: 70px;
	position: absolute;
	left: 30px;
	bottom: 480px;
}
.banner-paragraph {
	width: 25rem;

}


.registration-banner {
	background-image: url('../../images/registration/e-commerce-live-shopping-dashboard-sales-funnel-3.jpg');
	background-position: center;
	background-size:contain;
	background-repeat: no-repeat;
	height: 500px;
	position: relative;
	right: 30px;
	top: 50px;
}
.input-field-info {
	margin-left: 7rem;
}
.input-field-registration {
	margin-top: 10rem;
	position: relative;
	bottom: 100px;
}
.input-field-border-radius {
	border-radius: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.loader{
	margin-left: 100px;
	margin-bottom: 10px;

}
.container-registration{
	box-shadow: 5px 5px 30px 2px grey;
    margin-bottom: 50px;
	width: 800px;
	

}
.form-control-reg{
	font-size: 20px;
	width:240px;
	height: 40px;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Poppins', sans-serif;    font-style: normal;
}
.form-label{
    display: block;
    margin-top: 25px;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Poppins', sans-serif;    font-style: normal;
    font-weight:bolder;
    font-size: 16px;
    line-height: 21px;
}

.register-name {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Poppins', sans-serif;
	position: relative;
	left: 40px;
}

.form-group{
    float:left;
    display:inline;
    margin-bottom: 50px;
	padding-left: 50px;
}
.form-group-right{
    float:right;
    display:block;
    margin-bottom: 150px;
	position: relative;
	right: 80px;
}
.button{
    width:400px;
	left: 100px;
	color: #000000;
}
.select{
	width:240px;
	height: 40px;
}
@media (max-width: 900px) {
    .form-group-right{
		padding-left: 150px;
		
	}
	.container-registration{
		/* box-shadow: 5px 5px 30px 2px grey;
		margin-bottom: 50px; */
		width: 700px;
	}
    
    
  }
@media (max-width: 500px) {
    .button{
        position: absolute;
        left: 10%;
        width:250px;
        display:block
    }
	.form-group-right{
		display:block;
		float: none;
		padding-left: 20px;
		margin-bottom: 50px;
		
	}
	.form-group{	
		padding-left: 20px;
	}
	.container-registration{		
		width: 300px;		
	}
	.registration-banner {	
		height: 400px;
	}
  }
